# Reports and Coursework Documents
*.docx
*.pdf
*Report*
*Brief*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
env/
venv/
ENV/

# Jupyter Checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
